* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    width: 500px;
    margin: auto;
    display: block;
    background-color: #a09f9f ;
    border-radius: 15px;
}
form {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

input{
    width: 300px;
}

#corpo {
    padding:0 30px;
}

header {
    text-align: center;
    width: 500px;
    background-color: #d3d3d3;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    
}


ul li p {
    cursor: pointer;
}
